body {
	padding: 20px;
	color: white;
}

.cat {
	text-align:left;	
}

.cat img {
	display:inline;
	float:left;
	margin-right: 20px;
}

.cat span {
	display:block;
	font-size:30px;
	font-family:comic sans MS;
}

#eggface {
	font-family:comic sans MS;
	font-size:20px;
}

#link {
	position:relative;
	font-size:10px;
	color:white;
}

br {
	line-height:300px;
}
	
#truth {
	font-size:30px;
}

#doggo {
	font-size:30px;
}

.homebg {
	background-image: url("http://a1star.com/images/starfiel.gif");
}

.dogbg {
	
	background: url("https://cdn-images-1.medium.com/max/1280/1*m9rzPCSeT-Zmom87KcQLMQ.jpeg");
	background-size: cover;
	font-family: comic sans MS;
	text-align: center;
	font-size: 100;
}
