body {
	padding: 20px;
	color: white;
	font-family:comic sans MS;
}

.cat {
	text-align:left;	
}

.cat img {
	display:inline;
	float:left;
	margin-right: 20px;
}

.cat span {
	display:block;
	font-size:30px;
}

#eggface {
	font-size:20px;
}

a {
	position:relative;
	font-size:10px;
	color:white;
}

a:visited {
	color: white;
}

.doggo {
	text-align:center;
}

.doggo span {
	font-size:100px;
}

.homebg {
	background-image: url("http://a1star.com/images/starfiel.gif");
}

.dogbg {
	
	background: url("https://cdn-images-1.medium.com/max/1280/1*m9rzPCSeT-Zmom87KcQLMQ.jpeg");
	background-size: cover;
}
